# Gradle files
.gradle/
/build/

# Android Studio and other IDEs
.idea/
.project
.settings/
.classpath

# Local Configuration
local.properties

# Log files
*.log

# Keystore files
*.jks

# Package files
*.apk
*.aab

# Additional files that should not be committed
*.iml